* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to top, #d16ba5, #ee758d, #f98b75, #f5a664, #e4c364, #d1d36f, #bbe284, #a2ef9f, #8ef3b3, #7bf7c8, #6af9dd, #5ffbf1);

}

div.container {
    overflow: auto;
}

header {
    background-color: #3596B5;
    padding: 15px;
    text-align: center;
}

nav {
    float: left;
    width: 20%;
    text-align: center;
}

nav ul {
    padding-left: 0px;
}

nav li {
    list-style: none;
}

nav li a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    font-weight: 700;
}

main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

footer {
    background-color: #e5e5e5;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
}

/* For mobile phones: */
@media only screen and (max-width: 620px) {

    nav,
    main,
    .right {
        width: 100%;
    }
}